.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .hero {
    font-size: 2em;
    margin-bottom: 2em;
    background: rgba(128, 128, 128, .2);
    color:white;
    /* text-align: center; */

  }

  .hero h2 {
    position: relative;
    left: 3em;
    padding-bottom:1.5em;
  }
 
  #searchbtn, #search {
    border-radius: .5rem;
    color:rgb(56, 56, 56);
    height:3.5rem;
    font-size: 2.75rem;
    padding: .1em 1em 1.5em;
  }

  #search {
    margin-right:1em;
    /* min-width: 25rem; */
    width:100%;
    
  }

  #searchbtn {
    background: rgba(128, 128, 128, .2);
    border: 1px rgb(58, 58, 58) solid;
    color: white;
  
  }

.columns{
  padding: 0 1em  ;
  /* box-sizing: border-box; */
 }
 body{
   max-width: 100vw;
   overflow: hidden;
   background: url("../img/loco.jpeg");
   min-height: 100vh;
 }


 