body{
    max-width: 100vw;
    overflow: hidden;
    background: url("../img/loco.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
  }

  .header {
    font-size: 2em;
    margin-bottom: 2em;
    background: rgba(128, 128, 128, .2);
    color:white;
    /* text-align: center; */

  }

  .header h1 {
    padding-left:1.5rem;
  }

  .header h2 {
    position: relative;
    left: 3em;
    padding-bottom:1.5em;
  }
  
  #searchbtn, .search {
    border-radius: .5rem;
    height:3.5rem;
    font-size: 2.75rem;
  }

  #searchbtn {
    background: rgba(128, 128, 128, .2);
    border: 1px rgb(94, 94, 94) solid;
    color: white;
    padding: .1em 1em 1.5em;

  }

#searchbtn:hover {
    box-shadow: rgb(124, 124, 124) 0px 0px 15px 2px;
    text-shadow:2px 2px .5em rgb(26, 66, 85);  
    transition: all .03s;
}

#searchbtn:active {
    transform: translate(1px, 1px);
    color:rgb(36, 36, 36);
    background: rgba(196, 196, 196, 0.4); 
    text-shadow: none; 
}

.search {
    width:100%;
    color:rgb(78, 78, 78);
    background: rgba(255, 255, 255, 0.41);
    height:4.5rem;
  }

 .searchRadio{
   font-size: 50px;
   color: white;
 }

.container {
      max-width: 80%;
  }

.citySearch{
  display: none;
}

.select {
  background: rgba(128, 128, 128, .2);
  border: 1px rgb(94, 94, 94) solid;
  color: white;
  border-radius: .5rem;  
}

option {
  background-color: rgba(128, 128, 128, .5);
}
