.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: url("../img/loco.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed!important;
  }



a { 
  color: #1878d1;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 900;
  }
  .header {
    font-size: 2em;
    margin-bottom: 1em;
    background: rgba(128, 128, 128, .2);
    color:white;
    /* text-align: center; */

  }

  .header h1 {
    padding-left:1rem;
  }

  .header h2 {
    position: relative;
    left: 3em;
    padding-bottom:1.5em;
  }
/* Search bottons row */
  .searchbtns {
    padding:.25rem;
  }
  .searchbtns > .columns:first-of-type{
    margin-top:-.3rem;
  }
  .searchbtns > .columns:last-of-type {
    margin-top:-1.8rem;
  }

  .btn {
    cursor: pointer;
  }
  
  #searchbtn, #clearbtn, .search {
    border-radius: .5rem;
    height:3.5rem;
    font-size: 2.75rem;
  }

  #searchbtn, #clearbtn {
    background: rgba(128, 128, 128, .2);
    border: 1px rgb(94, 94, 94) solid;
    color: white;
    padding: .2rem 1rem 1.6rem;
    font-size:1.35em;
    height:1.5rem;
    display:block;
  }
#searchbtn {
  margin-top:.5rem;
}

#clearbtn {
  padding-left:1.25em;
  padding-right:1.25em;
  margin-top:.7rem;
}

.btn:hover {
    box-shadow: rgb(124, 124, 124) 0px 0px 15px 2px;
    text-shadow:2px 2px .5em rgb(26, 66, 85);  
    transition: all .03s;
}

/* ios submit style cancel */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

input[type=submit] {

}

#searchbtn:active, #clearbtn:active {
    transform: translate(1px, 1px);
    color:rgb(36, 36, 36);
    background: rgba(196, 196, 196, 0.4); 
    text-shadow: none; 
}

#bandButton, #cityButton {
  margin-right: 30px;
}

#bandButton, #cityButton {
  background-size: 50px auto;
  background-position-y: 15px;
  width:65px;
  height:65px;
  background-repeat: no-repeat;
}
#bandButton {
  background-image: url(../img/guitarsico.svg);
  float:left;
  background-position-y:-65px;
  background-size:65px auto;
}
#cityButton {
  background-image: url(../img/pinsico.svg);
  position: relative;
  left:85px;
  background-position-x: 5px;
  background-position-y: 16px;

}

#bandButton:hover, #cityButton:hover {
  cursor: pointer;
}

#bandButton:active, #cityButton:active {
  border:none;
  border-radius: 0;
}


img.eventPlay {
  height: 1.4rem;
  padding-right:.5em;
}

#searchInputs {
  margin-top: .1rem;
}

.search {
    width:100%;
    color:rgb(78, 78, 78);
    background: rgba(255, 255, 255, 0.41);
    height:4.5rem;
  }

  .search::placeholder {
    color:rgb(124, 124, 124);  
  }

 .searchTopic{  
  height: 40px;  
  border-width: 4px; 
  border-style: solid;
  border-color: rgb(78, 78, 78);
  border-radius: .7rem;
  cursor: pointer;
 }

.container {
      max-width: 80%;
      width: 960px;
  }

.citySearch, .monthSelect{
  display: none;
}

.select {
  background: rgba(65, 65, 65, 0.2);
  border: 1px rgb(94, 94, 94) solid;
  color: white;
  border-radius: .5rem;  
  font-size:1.1em;
  margin-left: 80px;
}

option {
  background-color: rgba(128, 128, 128, .5);
  font-size:.5em;
}

.bandCol:not(:last-child) {
  margin-bottom:0;
}

#searchToggle {
  display:inline-block;
}

/*
events results
*/
#results, #weatherResults {
  color:rgb(40, 40, 40);
  font-size:1rem;
  padding-top:1rem;
  border-radius: .5rem;
}

#results ul, #weatherResults ul {
  background-color: rgba(200,200,200,.8);
  border-radius: .25em;
  margin-bottom:1em;
  padding-bottom: 1.1em;
  padding-top: 1em;
}

#results li, #weatherResults li {
  padding-left: 1.5em;
  box-sizing: border-box;
  line-height: 1.6;
}
li h2 {
  font-size: 1.85em;
line-height: 1.2;
font-weight: 900;
margin-bottom: .4em;
}

#results h2.responseTitle {
  color:white;
  font-size: 3em;
  text-transform: capitalize;
  float: left;
  margin-right: 1rem;
}

.resultImg {
  height:65px;
  /* width: 100px; */
  float: left;
  padding-right:1rem;
}

.resultsHead {
  margin-bottom: 0rem;
}

.columns.headRow {
  padding-bottom: 0;
  margin-bottom: -1.75rem;
}

#ajaxResponse .container {
  width:100%;
  max-width: 100%;
}


@media only screen and (max-width:769px) {
  #searchbtn, #clearbtn {
    display:inline-block;
    font-size:1.8em;
    padding-bottom: 2.2rem;
  }
  
}

@media only screen and (max-width:550px) {
  .container {
    max-width: 85vw;
  }
  .search {
    font-size: 2.1rem;
    background: rgba(255, 255, 255, 0.61);
  }
  
 
}
